@import "../../../../assets/scss/general.scss";

.trash{
  background-color: #D34341;
  border-radius: 100%;;
}

.limit-space{
  width: 75%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  border: none;
}
