@import "../../../../assets/scss/general.scss";

input{
  border: 1px solid $greyTableDark;
}

h3 {
  color: #fff !important;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}
