<div class="container">
  <div class="my-4 separator"></div>

  <div *ngIf="this.step == 0" class="w-100 card">

    <div class="d-flex justify-content-center aling-start col-12 mt-4">
      <label for="loanAmount" class="text-center col-6 form-label align-self-center">Amortización:</label>
      <div class="w-100">
        <p-dropdown class="w-100" [(ngModel)]="repayment" [options]="repaymentOptions" optionLabel="name"
          [showClear]="true" placeholder="..."></p-dropdown>
      </div>
    </div>

    <div class="d-flex justify-content-center aling-start col-12 mt-4">
      <label for="numberOfInstallments" class="text-center col-6 form-label align-self-center">Tipo Tasa:</label>
      <div class="w-100">
        <p-dropdown class="w-100" [(ngModel)]="rate" [options]="rateOptions" optionLabel="name" [showClear]="true"
          placeholder="..."></p-dropdown>

      </div>
    </div>

  </div>



  <div *ngIf="this.step == 1" class="w-100 card">
    <form [formGroup]="loanForm" class="row g-3">

      <div class="d-flex justify-content-center aling-start col-6 mt-4">
        <label for="loanAmount" class="text-start col-6 form-label align-self-center">Monto del Préstamo:</label>
        <div class="w-100">
          <p-inputNumber [inputStyleClass]="'numberprime'" [minFractionDigits]="0" [maxFractionDigits]="0"
            formControlName="loanAmount" inputId="currency-us" mode="currency" currency="USD" locale="en-US"
            placeholder="1000000" autocomplete="off"></p-inputNumber>
          <small id="loanAmount-help">Ingrese un monto válido*.</small>
        </div>
      </div>

      <div class="d-flex justify-content-center aling-start col-6 mt-4">
        <label for="numberOfInstallments" class="text-start col-6 form-label align-self-center">Número de
          Cuotas:</label>
        <div class="w-100">
          <p-inputNumber [inputStyleClass]="'numberprime'" formControlName="numberOfInstallments" placeholder="3"
            mode="decimal" inputId="withoutgrouping" [useGrouping]="false" autocomplete="off"> </p-inputNumber>
          <small id="numberOfInstallments-help">Ingrese un número válido*.</small>
        </div>
      </div>

      <div class="d-flex justify-content-center aling-start col-6 mt-4">
        <label for="installmentType" class="text-start col-6 form-label align-self-center">Tipo de Cuota:</label>
        <div class="w-100">
          <p-dropdown class="w-100" formControlName="installmentType" [options]="conService.params.value.typeQuotas"
            [filter]="true" filterBy="label" optionLabel="label" optionValue="textCode" [showClear]="true"
            placeholder="Seleccionar" autocomplete="off"></p-dropdown>
        </div>
      </div>

      <div class="d-flex justify-content-center aling-start col-6 mt-4">
        <label for="disbursementDate" class="text-start col-6 form-label align-self-center">Fecha de desembolso:</label>
        <div class="w-100">
          <p-calendar dateFormat="yy-mm-dd"  [minDate]="todayDate" id="disbursementDate" formControlName="disbursementDate" class=" w-100"
            placeholder="2024-01-15" autocomplete="off"></p-calendar>
        </div>
      </div>

      <div class="d-flex justify-content-center aling-start col-6 mt-4">
        <label for="paymentDate" class="text-start col-6 form-label align-self-center">Fecha de pago:</label>
        <div class="w-100">
          <p-calendar dateFormat="yy-mm-dd" (onSelect)="onDateSelect($event)" id="paymentDate"
            formControlName="disbursementDate" class=" w-100" placeholder="2024-01-15" autocomplete="off"></p-calendar>
        </div>
      </div>

      <div class="d-flex justify-content-center aling-start col-6 mt-4">
        <label for="interestRate" class="text-start col-6 form-label align-self-center">Tasa de interés:</label>
        <div class="w-100">
          <p-inputNumber [inputStyleClass]="'numberprime'" formControlName="interestRate" inputId="minmaxfraction"
            mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="8" placeholder="0.025" autocomplete="off">
          </p-inputNumber>
          <small id="interestRate">Ingrese un tasa válida*.</small>
        </div>
      </div>

      <!-- <div class="d-flex justify-content-center aling-start col-6 mt-4">
        <label for="otherRate" class="text-start col-6 form-label align-self-center">Otra tasa:</label>
        <div class="w-100">
          <p-inputNumber [inputStyleClass]="'numberprime'" formControlName="otherRate" inputId="minmaxfraction"
            mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="8" placeholder="0.025"
            autocomplete="off"></p-inputNumber>
          <small id="otherRate">Ingrese un tasa válida*.</small>
        </div>
      </div> -->
    </form>
  </div>
</div>

<div *ngIf="this.step == 2" id="TARGET" class=" d-flex justify-content-center  align-items-center flex-column p-2">
  <app-table [title]="'Simulador'" [data]="simulatorData" [headers]="simulatorHeader"></app-table>
</div>

<div class="d-flex justify-content-center align-items-center flex-sm-row flex-column mt-3">
  <button class="btn  m-2 out mx-5" routerLink="/client" role="button">
    Salir
  </button>
  <button *ngIf="step != 2" (click)="goNext()" class="btn m-2 save mx-5" role="button" [disabled]="!nextBtn()">
    Siguiente
  </button>
  <button *ngIf="step == 2" type="submit" class="btn  m-2 save mx-5" role="button" (click)="printPage()">
    Imprimir
  </button>
</div>
