<div class="container">
  <div class="my-4 separator"></div>

  <div *ngIf="this.step == 0" class="w-100 card">

    <div class="row d-flex justify-content-start aling-start col-12 mt-4">
      <label for="loanAmount" class="text-center col-12 col-md-6 form-label align-self-center">Amortización:</label>
      <div class="col-12 col-md-6">
        <p-dropdown class="" [(ngModel)]="repayment" [options]="repaymentOptions" optionLabel="name"
          [showClear]="true" placeholder="..."></p-dropdown>
      </div>
    </div>

    <div class="row d-flex justify-content-start aling-start col-12 mt-4">
      <label for="numberOfInstallments" class="text-center col-12 col-md-6 form-label align-self-center">Tipo Tasa:</label>
      <div class="col-12 col-md-6">
        <p-dropdown class="w-100" [(ngModel)]="rate" [options]="rateOptions" optionLabel="name" [showClear]="true"
          placeholder="..."></p-dropdown>

      </div>
    </div>

  </div>



  <div *ngIf="this.step == 1" class="w-100 card">
    <form [formGroup]="loanForm" class="row g-3">

      <div class="row mt-4">
        <div class="col-12 col-md-6 d-flex justify-content-start align-items-start  flex-column">
          <label for="loanAmount" class="align-self-start">Monto del Préstamo:</label>
          <input type="number" class="form-control numberprime" id="currency-us" placeholder="1000000"
            autocomplete="off" formControlName="loanAmount">
          <small id="loanAmount-help">Ingrese un monto válido*.</small>
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-start align-items-start  flex-column">
          <label for="numberOfInstallments" class="align-self-start">Número de Cuotas:</label>
          <input type="number" class="form-control numberprime" id="withoutgrouping" placeholder="3" autocomplete="off"
            formControlName="numberOfInstallments">
          <small id="numberOfInstallments-help">Ingrese un número válido*.</small>
        </div>


        <div class="col-12 col-md-6 d-flex justify-content-start align-items-start  flex-column">
        <label for="installmentType" class="align-self-start">Frecuencia:</label>
        <p-dropdown class="w-100" formControlName="installmentType" [options]="conService.params.value.typeQuotas"
          [filter]="true" filterBy="label" optionLabel="label" optionValue="textCode" [showClear]="true"
          placeholder="Seleccionar" autocomplete="off"></p-dropdown>
      </div>

      <div class="col-12 col-md-6 d-flex justify-content-start align-items-start  flex-column">
        <label for="disbursementDate" class="align-self-start">Fecha de desembolso:</label>
        <p-calendar dateFormat="yy-mm-dd" [minDate]="todayDate" id="disbursementDate" formControlName="disbursementDate"
        class=" w-100" placeholder="2024-01-15" autocomplete="off"></p-calendar>
      </div>


      <div class="col-12 col-md-6 d-flex justify-content-start align-items-start  flex-column">
        <label for="paymentDate" class="align-self-start">Fecha de pago:</label>
        <p-calendar dateFormat="yy-mm-dd" (onSelect)="onDateSelect($event)" id="paymentDate"
        formControlName="disbursementDate" class=" w-100" placeholder="2024-01-15" autocomplete="off"></p-calendar>
      </div>

      <div class="col-12 col-md-6 d-flex justify-content-start align-items-start  flex-column">
        <label for="interestRate" class="align-self-start">Tasa de interés:</label>
        <p-inputNumber [inputStyleClass]="'numberprime'" formControlName="interestRate" inputId="minmaxfraction"
        mode="decimal" [max]="1" [minFractionDigits]="1" [maxFractionDigits]="8" placeholder="0.025"
        autocomplete="off">
      </p-inputNumber>
      <small id="interestRate">Ingrese un tasa válida*.</small>
    </div>
      </div>

      <!-- <div class="d-flex justify-content-center aling-start col-6 mt-4">
        <label for="otherRate" class="align-self-center">Otra tasa:</label>
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  flex-column">
          <p-inputNumber [inputStyleClass]="'numberprime'" formControlName="otherRate" inputId="minmaxfraction"
            mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="8" placeholder="0.025"
            autocomplete="off"></p-inputNumber>
          <small id="otherRate">Ingrese un tasa válida*.</small>
        </div>
      </div> -->
    </form>
  </div>
</div>

<div *ngIf="this.step == 2" id="TARGET" class=" d-flex justify-content-center  align-items-center flex-column p-2">

  <div id="TARGET" class="d-flex justify-content-center  align-items-center flex-column m-1">
    <div class="card my-2 w-100">
      <h3>Empresa: {{utils.getName()}}</h3>
      <h3>Fecha: {{todayDate}}</h3>
      <h3>Nombre: {{auth.getUserFromLocalStorage().name}}</h3>
    </div>
  </div>
  <app-table [title]="'Simulador'" [data]="simulatorData" [headers]="simulatorHeader"></app-table>
</div>

<div class="d-flex justify-content-center align-items-center flex-sm-row flex-column mt-3">
  <button class="btn  m-2 out mx-5" routerLink="/client" role="button">
    Salir
  </button>
  <button *ngIf="step != 2" (click)="goNext()" class="btn m-2 save mx-5" role="button" [disabled]="!nextBtn()">
    Siguiente
  </button>
  <button *ngIf="step == 2" type="submit" class="btn  m-2 save mx-5" role="button" (click)="printPage()">
    Imprimir
  </button>
</div>
