<div class="container">
  <img class="d-none d-sm-block wave" src="./../../../../assets/images/blueWaveLogin.svg" alt="">
  <div class="row">
    <div class="col-sm-7 col-12 d-flex flex-column justify-content-center align-items-center flex-wrap">
      <img class=" d-none d-sm-block w-100 mt-5 mb-5" style="width: 200px;"
        src="./../../../../assets/images/blueLoginCharacter.svg" alt="">
    </div>
    <div
      class="formlogin text-center col-sm-5 col-12 d-flex flex-column justify-content-center align-items-center flex-wrap">
      <img class="mb-2" src="./../../../../assets/images/blueLoginFace.svg" alt="">
      <h1>Bienvenido</h1>
      <h5>Ingrese Identificación y Contraseña</h5>
      <form class="formlogin" [formGroup]="loginData">
        <div class="loginInput my-4">
          <input type="text" formControlName="username" placeholder="Usuario" pInputText />
        </div>
        <div class="loginInput my-4">
          <p-password formControlName="password" [feedback]="false" placeholder="Contraseña"
            [toggleMask]="true" autocomplete="current-password" ></p-password>
        </div>
        <input class="loginCircle" type="button" value="Enviar" (click)="login()">
      </form>
      <p-overlayPanel #op>
        <ng-template pTemplate="content">
            <p>91236621 : <i>CAN00237</i></p>
            <p>242320 : <i>242320</i></p>
        </ng-template>
    </p-overlayPanel>
    <p-button  (click)="op.toggle($event)" icon="pi pi-image" label="" severity="info"></p-button>

    </div>
  </div>
</div>
