<div class="container">
  <div class="my-4 separator"></div>
  <div class="d-block row">
    <div class="d-flex align-items-center justify-content-center flex-column ">
      <div class="card col-12 px-5">
        <div class="row d-flex justify-content-center align-items-start col-12">
          <label for="bipper" class="text-start col-12 col-md-3 form-label">Bipper:</label>
          <label for="bipper" class="text-start col-12 col-md-3 data-fill">{{ data?.bipper }}</label>
          <label for="email" class="text-start col-12 col-md-3 form-label">Correo electrónico:</label>
          <label for="email" class="text-start col-12 col-md-3 data-fill">{{ data?.direccionweb }}</label>
        </div>
        <br>
        <div class="row d-flex justify-content-center align-items-start col-12">
          <label for="salary" class="text-start col-12 col-md-3 form-label">Sueldo:</label>
          <label for="salary" class="text-start col-12 col-md-3 data-fill">{{ data?.sueldo }}</label>
          <label for="officePhone" class="text-start col-12 col-md-3 form-label">Teléfono de Oficina:</label>
          <label for="officePhone" class="text-start col-12 col-md-3 data-fill">{{ data?.teloficina }}</label>
        </div>
        <br>
        <div class="row d-flex justify-content-center align-items-start col-12">
          <label for="role" class="text-start col-12 col-md-3 form-label">Rol:</label>
          <label for="role" class="text-start col-12 col-md-3 data-fill">{{ data?.rol }}</label>
          <label for="ccn" class="text-start col-12 col-md-3 form-label">CCN:</label>
          <label for="ccn" class="text-start col-12 col-md-3 data-fill">{{ data?.ccn }}</label>
        </div>
        <br>
        <div class="row d-flex justify-content-center align-items-start col-12">
          <label for="clientNit" class="text-start col-12 col-md-3 form-label">NIT del Cliente:</label>
          <label for="clientNit" class="text-start col-12 col-md-3 data-fill">{{ data?.nitcliente }}</label>
          <label for="officeAddress" class="text-start col-12 col-md-3 form-label">Dirección de la Oficina:</label>
          <label for="officeAddress" class="text-start col-12 col-md-3 data-fill">{{ data?.direcoficina }}</label>
        </div>
        <br>
        <div class="row d-flex justify-content-center align-items-start col-12">
          <label for="homePhone" class="text-start col-12 col-md-3 form-label">Teléfono Residencial:</label>
          <label for="homePhone" class="text-start col-12 col-md-3 data-fill">{{ data?.telresidencia }}</label>
          <label for="mailbox" class="text-start col-12 col-md-3 form-label">Apartado:</label>
          <label for="mailbox" class="text-start col-12 col-md-3 data-fill">{{ data?.apartado }}</label>
        </div>
        <br>
        <div class="row d-flex justify-content-center align-items-start col-12">
          <label for="mailType" class="text-start col-12 col-md-3 form-label">Tipo de Envío de Correo:</label>
          <label for="mailType" class="text-start col-12 col-md-3 data-fill">{{ data?.tipoenviocorreo }}</label>
          <label for="cellphone" class="text-start col-12 col-md-3 form-label">Celular:</label>
          <label for="cellphone" class="text-start col-12 col-md-3 data-fill">{{ data?.celular }}</label>
        </div>
        <br>
        <div class="row d-flex justify-content-center align-items-start col-12">
          <label for="residenceAddress" class="text-start col-12 col-md-3 form-label">Dirección Residencial:</label>
          <label for="residenceAddress" class="text-start col-12 col-md-3 data-fill">{{ data?.direcresidencia }}</label>
          <label for="residenceAddress" class="text-start col-12 col-md-3 form-label">Nombre cliente:</label>
          <label for="residenceAddress" class="text-start col-12 col-md-3 data-fill">{{ data?.nombrecliente }}</label>
        </div>
        <br>
        <div class="row d-flex justify-content-center align-items-start col-12">
          <label for="residenceAddress" class="text-start col-12 col-md-3 form-label">Telefax:</label>
          <label for="residenceAddress" class="text-start col-12 col-md-3 data-fill">{{ data?.telefax }}</label>
          <label for="residenceAddress" class="text-start col-12 col-md-3 form-label">Cupo:</label>
          <label for="residenceAddress" class="text-start col-12 col-md-3 data-fill">{{ data?.cupo }}</label>
        </div>
      </div>





        <div id="TARGETNOT" class="d-flex justify-content-center align-items-center flex-sm-row flex-column mb-4">
          <button class="btn  m-2 out mx-5" routerLink="/client" role="button">
            Volver
          </button>
        </div>
      </div>
    </div>
