<div class="container">
  <div class="my-4 separator"></div>
  <div class="d-block row">
    <div class="d-flex align-items-center justify-content-center flex-column ">
      <div class="card col-12 px-5">
        <div class="d-flex justify-content-center align-items-start col-12">
          <label for="bipper" class="text-start col-3 form-label mx-2 my-2">Bipper:</label>
          <label for="bipper" class="text-start col-3 data-fill my-2">{{ data?.bipper }}</label>
          <label for="email" class="text-start col-3 form-label mx-2 my-2">Correo electrónico:</label>
          <label for="email" class="text-start col-3 data-fill my-2">{{ data?.direccionweb }}</label>
        </div>
        <div class="d-flex justify-content-center align-items-start col-12">
          <label for="salary" class="text-start col-3 form-label mx-2 my-2">Sueldo:</label>
          <label for="salary" class="text-start col-3 data-fill my-2">{{ data?.sueldo }}</label>
          <label for="officePhone" class="text-start col-3 form-label mx-2 my-2">Teléfono de Oficina:</label>
          <label for="officePhone" class="text-start col-3 data-fill my-2">{{ data?.teloficina }}</label>
        </div>
        <div class="d-flex justify-content-center align-items-start col-12">
          <label for="role" class="text-start col-3 form-label mx-2 my-2">Rol:</label>
          <label for="role" class="text-start col-3 data-fill my-2">{{ data?.rol }}</label>
          <label for="ccn" class="text-start col-3 form-label mx-2 my-2">CCN:</label>
          <label for="ccn" class="text-start col-3 data-fill my-2">{{ data?.ccn }}</label>
        </div>
        <div class="d-flex justify-content-center align-items-start col-12">
          <label for="clientNit" class="text-start col-3 form-label mx-2 my-2">NIT del Cliente:</label>
          <label for="clientNit" class="text-start col-3 data-fill my-2">{{ data?.nitcliente }}</label>
          <label for="officeAddress" class="text-start col-3 form-label mx-2 my-2">Dirección de la Oficina:</label>
          <label for="officeAddress" class="text-start col-3 data-fill my-2">{{ data?.direcoficina }}</label>
        </div>
        <div class="d-flex justify-content-center align-items-start col-12">
          <label for="homePhone" class="text-start col-3 form-label mx-2 my-2">Teléfono Residencial:</label>
          <label for="homePhone" class="text-start col-3 data-fill my-2">{{ data?.telresidencia }}</label>
          <label for="mailbox" class="text-start col-3 form-label mx-2 my-2">Apartado:</label>
          <label for="mailbox" class="text-start col-3 data-fill my-2">{{ data?.apartado }}</label>
        </div>
        <div class="d-flex justify-content-center align-items-start col-12">
          <label for="mailType" class="text-start col-3 form-label mx-2 my-2">Tipo de Envío de Correo:</label>
          <label for="mailType" class="text-start col-3 data-fill my-2">{{ data?.tipoenviocorreo }}</label>
          <label for="cellphone" class="text-start col-3 form-label mx-2 my-2">Celular:</label>
          <label for="cellphone" class="text-start col-3 data-fill my-2">{{ data?.celular }}</label>
        </div>
        <div class="d-flex justify-content-center align-items-start col-12">
          <label for="residenceAddress" class="text-start col-3 form-label mx-2 my-2">Dirección Residencial:</label>
          <label for="residenceAddress" class="text-start col-3 data-fill my-2">{{ data?.direcresidencia }}</label>
          <label for="residenceAddress" class="text-start col-3 form-label mx-2 my-2">Nombre cliente:</label>
          <label for="residenceAddress" class="text-start col-3 data-fill my-2">{{ data?.nombrecliente }}</label>
        </div>
        <div class="d-flex justify-content-center align-items-start col-12">
          <label for="residenceAddress" class="text-start col-3 form-label mx-2 my-2">Telefax:</label>
          <label for="residenceAddress" class="text-start col-3 data-fill my-2">{{ data?.telefax }}</label>
          <label for="residenceAddress" class="text-start col-3 form-label mx-2 my-2">Cupo:</label>
          <label for="residenceAddress" class="text-start col-3 data-fill my-2">{{ data?.cupo }}</label>
        </div>
      </div>





        <div class="d-flex justify-content-center align-items-center mb-4">
          <button class="btn  m-2 out mx-5" routerLink="/client" role="button">
            Volver
          </button>
        </div>
      </div>
    </div>
