@import "../../../../assets/scss/general.scss";

.general-table{
  h2{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 700;
    text-align: center;  }
}
table {
  width: 100%;

  .header {
    background-color: var(--Primary);

  }

  thead{
    background-color: var(--Second);

  }

  tbody {
    tr:nth-child(even) {
      background-color: $greyTableLight;
    }

    tr:nth-child(odd) {
      background-color: $greyTableDark;
    }

    tr{
      td{
        td {
          border: 1px solid #000; // Opcional: agrega bordes para visualizar las celdas

          // Ajusta el ancho de todas las celdas
          width: 100%; // 1% del ancho de la tabla
        }
      }
    }
  }
}
