@import "../../../../assets/scss/general.scss";
.separator{
  width: 100%;
  height: 20px;
  background-color: var(--Light);
  border-radius: 20px;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

input{
  width: 100%;
}

.card{
  width: 60%;
}

img {
  width: 100%; /* o un valor fijo */
  height: auto; /* mantiene la proporción */
  object-fit: cover; /* o contain, dependiendo de tus necesidades */
}
