<div class="container">
  <div class="my-4 separator"></div>
  <div class="row text-center">
    <h4>Propiedades</h4>
    <form [formGroup]="propertiesForm" (ngSubmit)="onSubmit()" class="row g-3">
      <div class="d-flex justify-content-center">
        <div class="card col-12 px-5">
          <div class="d-flex justify-content-center aling-start row mt-4">
            <label for="branches" class="text-start col-12 col-sm-6 form-label">No. Sucursales:</label>
              <input type="text" id="branches" formControlName="branches" class="form-control col-sm-6 " placeholder="1">
          </div>

          <div class="d-flex justify-content-center aling-start row mt-4">
            <label for="nameBusiness" class="text-start col-12 col-sm-6 form-label">Nombre entidad:</label>
            <input type="text" id="nameBusiness" formControlName="nameBusiness" class="form-control col-sm-6 "
              placeholder="Jorjweb LTDA.">
          </div>

          <div class="d-flex justify-content-center aling-start row mt-4">
            <label for="nitBusiness" class="text-start col-12 col-sm-6 form-label">Nit entidad:</label>
            <input type="text" id="nitBusiness" formControlName="nitBusiness" class="form-control col-sm-6 "
              placeholder="860.403.823-5">
          </div>

          <div class="d-flex justify-content-center aling-start row mt-4">
            <label for="nitBusiness" class="text-start col-12 col-sm-6 form-label">Whatsapp:</label>
            <input type="text" id="nitBusiness" formControlName="whatsapp" class="form-control col-sm-6 "
              placeholder="860.403.823-5">
          </div>

        </div>
      </div>
      <div class="my-4 separator"></div>
      <h4>Activación de Modulos</h4>
      <div class="row d-flex modules p-5">
        <div class="swich col-12 col-sm-6 col-md-4 text-start" *ngFor="let item of modules">
          <p-inputSwitch [(ngModel)] ="modulesAct[item.key]" [ngModelOptions]="{standalone : true}"></p-inputSwitch>
          <br>
          <label for="">{{item.name}}</label>
        </div>
      </div>
      <div class="my-4 separator"></div>
      <h4>Apariciencia del Modulo Web</h4>
      <div class="row">
        <div *ngFor="let item of backgroundColors" class="flex-wrap col-md-6 col-12">
          <img class="images" [src]="'./assets/images/enviorment-' + item + '.png'" alt="">
          <div class="flex align-items-center m-2">
            <p-radioButton formControlName="theme" name="theme" [value]="item" [inputId]="item+'Color'"></p-radioButton>
          </div>
        </div>

      </div>
      <div class="d-flex justify-content-center align-items-center flex-sm-row flex-column">
        <button class="btn  m-2 out mx-5" routerLink="/admin/" role="button">
          Volver
        </button>
        <button class="btn  m-2 save mx-5" role="button">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
