<div class="container">
  <div class="my-4 separator"></div>
  <div class="row text-center">
    <h4>Propiedades</h4>
    <form [formGroup]="propertiesForm" (ngSubmit)="onSubmit()" class="row g-3">
      <div class="d-flex justify-content-center">
      <div class="card col-12 px-5">
        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="branches" class="text-start col-6 form-label">No. Sucursales:</label>
          <input type="text" id="branches" formControlName="branches" class="form-control w-100" placeholder="1">
        </div>

        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="nameBusiness" class="text-start col-6 form-label">Nombre entidad:</label>
          <input type="text" id="nameBusiness" formControlName="nameBusiness" class="form-control w-100" placeholder="Jorjweb LTDA.">
        </div>

        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="nitBusiness" class="text-start col-6 form-label">Nit entidad:</label>
          <input type="text" id="nitBusiness" formControlName="nitBusiness" class="form-control w-100" placeholder="860.403.823-5">
        </div>

        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="nameFolder" class="text-start col-6 form-label">Nombre Carpeta:</label>
          <input type="text" id="nameFolder" formControlName="nameFolder" class="form-control w-100" placeholder="MODULOWEB">
        </div>

        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="pathFiles" class="text-start col-6 form-label">Ruta Archivos:</label>
          <input type="text" id="pathFiles" formControlName="pathFiles" class="form-control w-100" placeholder="C:\">
        </div>

        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="adressSMPT" class="text-start col-6 form-label">SMPT:</label>
          <input type="text" id="adressSMPT" formControlName="adressSMPT" class="form-control w-100" placeholder="C:\">
        </div>

      </div>
    </div>
    <div class="my-4 separator"></div>
    <h4>Activación de Modulos</h4>
    <div class="row d-flex modules p-5">
      <div class="swich col-4 text-start" *ngFor="let item of modules">
         <p-inputSwitch  [(ngModel)]= "modulesAct[item.key]" [ngModelOptions] = "{standalone: true}" ></p-inputSwitch>
        <label for="" >{{item.name}}</label>
      </div>
    </div>
    <div class="my-4 separator"></div>
    <h4>Apariciencia del Modulo Web</h4>
    <div class="col-12 d-flex">

      <div class="col-6">
        <img class="" src="./../../../../assets/images/enviormentBlue.svg" alt="">
        <div class="flex align-items-center m-2">
          <p-radioButton formControlName="theme" name="theme" value="blue" inputId="blueColor"></p-radioButton>
      </div>
      </div>
      <div class="col-6">
        <img class="" src="./../../../../assets/images/enviormentGreen.svg" alt="">
        <div class="flex align-items-center m-2">
          <p-radioButton formControlName="theme" name="theme" value="green" inputId="blueGreen"></p-radioButton>
      </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <button class="btn  m-2 out mx-5" routerLink="/admin/"  role="button" >
        Volver
      </button>
      <button class="btn  m-2 save mx-5" role="button"  >
        Guardar
      </button>
    </div>
    </form>
  </div>
</div>




