<div class="container">
  <div class="my-4 separator"></div>
  <div class="row text-center">
    <h4>Propiedades</h4>
    <form [formGroup]="propertiesForm" (ngSubmit)="onSubmit()" class="row g-3">
      <div class="d-flex justify-content-center">
      <div class="card col-12 px-5">
        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="branch" class="text-start col-6 form-label">No. Sucursales:</label>
          <input type="text" id="branch" formControlName="branch" class="form-control w-100" placeholder="1">
          <p-message *ngIf="propertiesForm.get('branch').invalid && propertiesForm.get('branch').touched" severity="error" text="Field is required"></p-message>
        </div>

        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="nameCompany" class="text-start col-6 form-label">Nombre entidad:</label>
          <input type="text" id="nameCompany" formControlName="nameCompany" class="form-control w-100" placeholder="Jorjweb LTDA.">
          <p-message *ngIf="propertiesForm.get('nameCompany').invalid && propertiesForm.get('nameCompany').touched" severity="error" text="Field is required"></p-message>
        </div>

        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="nitCompany" class="text-start col-6 form-label">Nit entidad:</label>
          <input type="text" id="nitCompany" formControlName="nitCompany" class="form-control w-100" placeholder="860.403.823-5">
          <p-message *ngIf="propertiesForm.get('nitCompany').invalid && propertiesForm.get('nitCompany').touched" severity="error" text="Field is required"></p-message>
        </div>

        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="nitBranch" class="text-start col-6 form-label">Nombre Sucursal:</label>
          <input type="text" id="nitBranch" formControlName="nitBranch" class="form-control w-100" placeholder="Bogota D.C">
          <p-message *ngIf="propertiesForm.get('nitBranch').invalid && propertiesForm.get('nitBranch').touched" severity="error" text="Field is required"></p-message>
        </div>

        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="folderName" class="text-start col-6 form-label">Nombre Carpeta:</label>
          <input type="text" id="folderName" formControlName="folderName" class="form-control w-100" placeholder="MODULOWEB">
          <p-message *ngIf="propertiesForm.get('folderName').invalid && propertiesForm.get('folderName').touched" severity="error" text="Field is required"></p-message>
        </div>

        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="routeFiles" class="text-start col-6 form-label">Ruta Archivos:</label>
          <input type="text" id="routeFiles" formControlName="routeFiles" class="form-control w-100" placeholder="C:\">
          <p-message *ngIf="propertiesForm.get('routeFiles').invalid && propertiesForm.get('routeFiles').touched" severity="error" text="Field is required"></p-message>
        </div>
      </div>
    </div>
    <div class="my-4 separator"></div>
    <h4>Activación de Modulos</h4>
    <div class="row d-flex modules p-5">
      <div class="swich col-4 text-start" *ngFor="let item of module">
        <p-inputSwitch  [trueValue]="item.state"></p-inputSwitch>
        <label for="">{{item.name}}</label>
      </div>
    </div>
    <div class="my-4 separator"></div>
    <h4>Apariciencia del Modulo Web</h4>
    <div class="col-12 d-flex">

      <div class="col-6">
        <img class="" src="./../../../../assets/images/enviormentBlue.svg" alt="">
        <div class="flex align-items-center m-2">
          <p-radioButton formControlName="selectedColor" name="selectedColor" value="blue" inputId="blueColor"></p-radioButton>
      </div>
      </div>
      <div class="col-6">
        <img class="" src="./../../../../assets/images/enviormentGreen.svg" alt="">
        <div class="flex align-items-center m-2">
          <p-radioButton formControlName="selectedColor" name="selectedColor" value="green" inputId="blueGreen"></p-radioButton>
      </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <button class="btn  m-2 save mx-5" routerLink="/admin/"  role="button" disabled  >
        Guardar
      </button>
      <button class="btn  m-2 out mx-5" routerLink="/admin/"  role="button" >
        Volver
      </button>

    </div>
    {{ propertiesForm.value | json }}
    </form>
  </div>
</div>




