<div class="container">
  <div class="my-4 separator"></div>
  <div class="row" *ngIf="[0].includes(step)" >
    <div class="row">
      <div class=" col-12 col-lg-4 my-3" ></div>
      <div class=" col-12 col-lg-4 my-3" >
        <button class="btn consoleSelector w-100" (click)="nextStep()" role="button">
          Extracto Liquidación
          <br>
          <img class="mt-2" style="width: 40px;" src="../../../../assets/icons/client/statement/settlementStatement.svg" alt="">
        </button>
      </div>
      <div class=" col-12 col-lg-4 my-3" ></div>
    </div>
      <div class=" col-12 col-lg-4 my-3" >
        <button class="btn consoleSelector w-100" (click)="nextStep()" role="button">
          Extractó de Cupos
          <br>
          <img class="mt-2" style="width: 40px;" src="../../../../assets/icons/client/statement/quotaStatements.svg" alt="">
        </button>
      </div>
      <div class=" col-12 col-lg-4 my-3" ></div>
      <div class=" col-12 col-lg-4 my-3" >
        <button class="btn consoleSelector w-100" (click)="nextStep()" role="button">
          Extracto de pagos
          <br>
          <img class="mt-2" style="width: 40px;" src="../../../../assets/icons/client/statement/paymentStatement.svg" alt="">
        </button>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn  m-2 out mx-5" routerLink="/client"  role="button" >
          Volver
        </button>
    </div>
  </div>
  <div class="row" *ngIf="[1].includes(step)" >
    <h5>Aquie habria una tabla, si tan solo tuviera una :"</h5>
    <div class="d-flex justify-content-center align-items-center">
      <button class="btn  m-2 out mx-5" routerLink="/client"  role="button" >
        Volver
      </button>
  </div>
  </div>
</div>
