<div class="container">
  <div class="row">
    <div class="col-6 d-flex flex-column  justify-content-center  align-content-center">
      <h4 class="" >Error 404</h4>
      <h2>Parece que tratas de acceder a una pagina que no existe, trata de loggearte para disfrutar de nuestros servicios</h2>
      <div routerLink="/" class="btn loginCircle">Volver al inicio</div>
    </div>
    <div class="col-6">
      <img style="width: 100%;" src="../../../assets/images/ghost_404.gif" alt="Error 404">
    </div>
  </div>
</div>

