<div class="container">
  <div class="my-4 separator"></div>
  <div class="row text-center">
    <h4>Propiedades</h4>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="row g-3">
      <div class="d-flex justify-content-center">
        <div class="card col-12 px-5">
          <div class="d-flex justify-content-center aling-start col-12 mt-4">
            <label for="username" class="text-start col-6 form-label">Usuario:</label>
            <div class="w-100">
              <input  class="form-control w-100" id="disabled-input" type="text" pInputText [value]="this.changePasswordForm.get('username').value" [disabled]="true" />
            </div>
          </div>
          <div class="d-flex justify-content-center aling-start col-12 mt-4">
            <label for="password" class="text-start col-6 form-label">Nueva Contraseña:</label>
            <div class="w-100">
              <input type="text" id="password" formControlName="password" class="form-control w-100"
              placeholder="A1000956387">
              <small id="username-help">Tamaño mínimo de 8 caracteres*.</small>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-sm-row flex-column">
        <button class="btn  m-2 out mx-5" routerLink="/client" role="button">
          Volver
        </button>
        <button type="submit" class="btn  m-2 save mx-5" role="button" [disabled]="!changePasswordForm.valid" >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
