<div>

  <div id="TARGET" class=" d-flex justify-content-center  align-items-center flex-column p-2">

    <app-table [title]="'Lineas de Crédito'" [data]="data" [headers]="headersLines" ></app-table>

  </div>

  <div id="TARGETNOT" class="d-flex justify-content-center align-items-center flex-sm-row flex-column my-3">

    <button class="btn  m-2 out-line mx-5" routerLink="/client" role="button">
      Salir
    </button>
    <button type="submit" class="btn  m-2 save mx-5" role="button" (click)="printPage()">
      Imprimir
    </button>
  </div>
