<div class="container">
  <div class="my-4 separator"></div>
  <div class="row text-center">
    <h4>Ingrese Identificación del usuario</h4>
    <form  [formGroup]="passwordUser" class="row g-3">
      <div class="d-flex justify-content-center">
        <div class="card col-12 px-5">
          <div class="d-flex justify-content-center aling-start col-12 mt-4">
            <label for="identification" class="text-start col-6 form-label">Usuario:</label>
            <div class="w-100">
              <input type="text" id="identification" formControlName="identification" class="form-control w-100"
              placeholder="CAR00777">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn  m-2 out mx-5" routerLink="/admin" role="button">
          Volver
        </button>
        <button (click)="onSubmit()" class="btn  m-2 save mx-5" routerLink="/admin" role="button" [disabled]="!passwordUser.valid">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
