@import "./assets/scss/buttons.scss";
@import "./assets/scss/forms.scss";
@import "./assets/scss/text.scss";
@import "./assets/scss/variables.scss";


body{
  padding: 0px;
  margin: 0px;
}

.p-inputtext{
  min-width: 198px;
}



@media print {
  body * {
      visibility: hidden;
  }

  #TARGETNOT, #TARGETNOT * {
    display: none;
}

  #TARGET, #TARGET * {
      visibility: visible;
  }

  #TARGET {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
  }

  #FOOTER, #FOOTER * {
    visibility: visible;
}

  #FOOTER{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

