<div class="container">
  <div class="my-4 separator"></div>
  <div class="row text-center">
    <h4>Elija la sucursal y el archivo que desea subir.</h4>
    <form [formGroup]="databaseInfo" (ngSubmit)="onSubmit()" class="row g-3">
      <div class="d-flex justify-content-center">
      <div class="card col-12 px-5">
        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="branch" class="text-start col-6 form-label">Nombre entidad:</label>
          <input type="text" id="branch" formControlName="branch" class="form-control w-100" placeholder="admin">
          <p-message *ngIf="databaseInfo.get('branch').invalid && databaseInfo.get('branch').touched" severity="error" text="Field is required"></p-message>
        </div>
        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="branch" class="text-start col-6 form-label">Subir Archivo:</label>
          <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" cancelLabel="Cancelar" chooseLabel="Subir" [multiple]="false" accept="" [maxFileSize]="3000" [showUploadButton]="false">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
    <br>
    <p>Para guardar los archivos de control, haga clic en "Subir" y seleccione el archivo que desea subir, o arrastre los archivos a la sobre la casilla, luego haga clic en la opción"Guardar destino como..."</p>
  </div>
    </div>
    <div class="my-4 separator"></div>
    <div class="d-flex justify-content-center align-items-center">
      <button type="submit" class="btn  m-2 save mx-5" routerLink="/admin" role="button"  disabled>
        Guardar
      </button>
      <button class="btn  m-2 out mx-5" routerLink="/admin"  role="button" >
        Volver
      </button>
    </div>
    {{ databaseInfo.value | json }}
    </form>
  </div>
</div>




