<div class="container">
  <div class="my-4 separator"></div>
  <div class="row text-center">
    <h4>Elija la sucursal y el archivo que desea subir.</h4>
    <div class="d-flex justify-content-center">
      <div class="card col-12 px-5">
        <div class="d-flex justify-content-center aling-start col-12 mt-4">
          <label for="branch" class="text-start col-6 form-label">Subir Archivo:</label>
          <p-fileUpload name="myfile[]" [customUpload]="true" [multiple]="false" (uploadHandler)="onUpload($event)"
            uploadLabel="Preparar" cancelLabel="Cancelar" chooseLabel="Subir" [multiple]="false" accept=".jar"
            [maxFileSize]="3000000" [showUploadButton]="true">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                  {{ file.name }} - {{ file.size }} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
        <br />
        <p>
          Para guardar los archivos de control, haga clic en "Subir" y
          seleccione el archivo que desea subir, o arrastre los archivos a la
          sobre la casilla, luego haga clic en la opción "cargar" y finalmente
          en el botón "subir".
        </p>
      </div>


    </div>
    <div class="row d-flex justify-content-center aling-center p-4">
      <p-accordion class="d-flex justify-content-center aling-center limit-space" [multiple]="true">
        <p-accordionTab header="Bases de datos subidas">
          <div class="row p-5">
            <div class="d-flex justify-content-center sm-flex-column">
              <div class="d-flex justify-content-center gap-2">
                <p-listbox [options]="databaseList" [style]="{'width':'15rem'}" [listStyle]="{'max-height': '220px'}"></p-listbox>
            </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="my-4 separator"></div>
    <div class="d-flex justify-content-center align-items-center flex-sm-row flex-column">
      <button class="btn m-2 out mx-5" routerLink="/admin" role="button">
        Volver
      </button>
      <button (click)="updateDatabase()" type="submit" class="btn m-2 save mx-5" role="button">
        Subir
      </button>
    </div>
  </div>
</div>
